                <%= form.text_area :content, :size => "50×15"%>
            </div>
            <div class="link-button">
                <%= form.submit "保存" %>
            </div>
        </div>
    </div>
</div>
<% end %>

<%= link_to 'シラバス一覧へ', sirabasus_path %>
