<div class="content">
    <div class="buttons">
        <button type=button class="man_button" onclick="location.href= '/kanri/kanri_top'">管理者<br>ログイン</button>
        <button type=button class="per_button" onclick="location.href= '/sessions/new'">個人<br>ログイン</button>
    </div>
</div>