<div class="content">
    <div class="background-box">
    <div class="content-area">
        <div class="content-title-input">
            <p>チェックリスト作成</p>
            <input type="number" placeholder="章番号">
            <input type="text" placeholder="項目名">
        </div>
        <p>該当するシラバスのURLを記入してください</p>
        <input type="url" id="checklisturl">
        <div class="text-area">
            <textarea name="syllabus" rows="15"></textarea>
        </div>
        <div class="link-button">
            <input type="submit" value="完了">
        </div>
    </div>
    </div>
</body>
