<div class="first-box">
  <div class="content-box">
    <h1>このページは管理者のみがアクセスできます</h1>
    <h2>あなたには権限がありません．問題が発生している場合は，システム管理者まで報告をお願いします．</h2>
    <p><%= link_to 'Back', '/ojt_top/top' %></p>
  </div>
</div>
